*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color:#000;
  --secondary-color:#fff;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #222;
  line-height: 1.3;
}

.main-title {
  height: 40vh;
  background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(blog2.peg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5%;
}


.main-title h1 {
  font-size: 60px;
  color: #fff;
  text-transform: capitalize;
}

/**************************
This style is for the team section  
*************************/

#team {
  width: 90%;
  margin: auto;
  padding-top: 5%;
  text-align: center;
  margin-bottom: 5%;
}

.team-title {
  font-size: 35px;
  text-transform: capitalize;padding-bottom: 2%;
}

.team-description {
  font-size:20px;
  padding-bottom: 3%;
  opacity: .8;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.team-content {
  width: 23%;
  height:55vh;
  background: #fff;
  border-radius: 5px;
  text-align: start;
  box-shadow: 10px 10px 8px 5px #fafaff;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  z-index: 2;
}

.team-img {
  width: 100%;
  height: 43vh;
  background: transparent;
}

.team-member-name {
  padding-top: 5%;
  padding-bottom: 2%;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

.team-member-position {
  text-transform: uppercase;
  font-size: 15px;
  opacity: .8;
}

@media(max-width:750px) {
  .team-container {
    flex-direction: column;
  }
  .team-content {
    width: 98%;
  }
}

