.main-title {
  height: 40vh;
  background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(blog2.peg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5%;
}


.main-title h1 {
  font-size: 50px;
  color: #fff;
  text-transform: uppercase;
}
