#contact-option {
  width: 95%;
  margin: auto;
  padding-bottom: 6%;
}


.main-title {
  height: 40vh;
  background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(blog2.peg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5%;
}


.main-title h1 {
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;
}

/*****************************************
The style below is for the contact option section  
****************************************/

.option-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

}

.option-box {
  width: 30%;
  height: 16vh;
  background: gray;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
}

.contact-icon {
  width: 25%;
  height: 100%;
  background: #0a5f0a;
  margin-right: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bi-geo-alt,
.bi-twitter,
.bi-instagram {
  color: #fff;
  font-size: 40px;
}

.contact-description {
  width: 71%;
  height: 100%;
  background: transparent;
}

.description-title {
  font-size: 33px;
  padding-top: 8%;
  padding-bottom: 4%;
  color: #fff;
  text-transform: capitalize;
}

.description-detail {
  text-decoration: none;
  color: #000;
  font-size: 22px;
  opacity: .7;
}

/*****************************************
The style below is for the contact form section  
****************************************/
#contact-form {
  width: 90%;
  margin: auto;
  margin-bottom: 5%;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}

.main-box {
  width: 43%;
  height: 80vh;
  background:transparent;
}

.logo1 {
  width: 80%;
  height: 25vh;
  margin: 7% auto;
  background: transparent;
  border-radius: 10px;
  overflow: hidden;
}

.main-box2 {
  width: 35%;
  height: fit-content;
  background: #fff;
  box-shadow: 10px 5px 8px 10px #eaeaf0;
  border-radius: 10px;
  margin: 10px auto;
}

form {
  padding-left: 25px;
}

.label {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  display: inline-block;
  padding-top: 4%;
  padding-bottom: 1%;
  opacity: .9;
}

.input {
  width: 90%;
  height: 6vh;
  border-radius: 10px;
  border: 2px solid gray;
  outline: none;  
  padding-left: 20px;
  font-size: 18px;
  background: transparent;
}

#message {
  width: 90%;
  height: 15vh;
  border: 2px solid gray;
  outline: none;  
  padding-left: 20px;
  font-size: 18px;
  background: transparent;
}

#submit {
  width: 90%;
  height: 6vh;
  border-radius: 5px;
  border: 3px solid transparent;
  outline: none;
  background: #0a5f0a;
  color: #fff;
  font-size: 23px;
  margin: 4% 0px;
  cursor: pointer;
  transition: .5s ease-in;
}

#submit:hover {
  background: #062e06;
}


@media(max-width:750px) {
  .option-container {
    flex-direction: column;
  }
  .option-box {
    width: 98%;
  }
  .main-container {
    flex-direction: column;
  }
  .main-box {
    width: 98%;
  }
}