*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color:#000;
  --secondary-color:#fff;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #222;
  line-height: 1.3;
}

#header {
  height: fit-content ;
  position: relative;
}

nav {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-evenly;
  gap: 240px;
  padding: 2% 3%;
  position: relative;
}

.logo {
  width: 10%;
  height: 10vh;
  background: transparent;
}

.img {
  width: 100%;
  height: 100%;
}

.main1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 170px;
  
}

.navlinks {
  flex: 1;
  text-align: center;
}

.navlinks ul li {
  display: inline-block;
  padding: 1px 14px;
  text-transform: uppercase;
  list-style: none;
  position: relative;
}

.navlinks ul li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 18px;
}

.navlinks ul li::after {
  content: '';
  width: 0;
  height: 3px;
  display: block;
  background: #416332;
  position: relative;
  transition: .5s ease-in;
}

.navlinks ul li:hover::after {
  width: 100%;
}

.info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


.info ul  li {
  list-style: none;
}

.info ul li a {
  text-decoration: none;
  font-size:20px;
  text-transform: capitalize;
  color: var(--primary-color);
  margin-right: 20px;
  transition: .5s ease-in;
}

.info ul li a:hover {
  color: #416332;
}

#btn {
  padding: 6px 25px;
  font-size: 18px;
  border-radius: 50px;
  border: 2px solid #000;
  background: transparent;
  margin-right: 30px;
  color:#000;
  cursor: pointer;
}

.bi {
  font-size: 25px;
}


.main-content {
  margin-top: 1.5%;
  margin-bottom: 4%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.preview {
  width:43%;
  height: 85vh;
  border-radius: 5px;
  overflow: hidden;
  /* background-color: gray; */
}

.preview-one {
  margin-left: 4%;
  height: fit-content;
}

.preview-head {
  height: 50%;
  width: 100%;
  background: transparent;
}

.preview-body p {
  padding-top: 5%;
  font-size: 25px;
  line-height: 1.5;
}

.preview-btn {
  padding: 10px 30px;
  border: 3px solid transparent;
  border-radius: 10px;
  background: #084ae4;
  color: #fff;
  font-size: 22px;
  margin: 4% 0px;
}

/* back to top button  */
.top {
  width: 3%;
  height: 6vh;
  background: #416332;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 30px;
  right: 50px;
  cursor: pointer;
}

.bi-x-square, 
.bi-list {
  display:none;
}

@media(max-width:960px) {
  nav {
    gap: 5px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .main1{
    background: #008000de;
    width: 200px;
    height: 75vh;
    position: absolute;
    top: 0;
    right: -220px;
    text-align: start;
    padding: 8px 4px;
    z-index: 2;
    gap: 0px;
    flex-wrap: wrap;
    transition: .5s;
  }
  .navlinks ul li, .info {
    display: block;
    text-align: start;
    margin: 8px;
  }
  .navlinks ul li a{
    font-size: 23px;
    cursor: pointer;
    color: #fff;
  }
  .info ul li a, .info #btn {
    font-size: 26px;
    color: #fff;
    margin: 8px;
  }
  .info #btn {
    border: 2px solid #fff;
  }
  .logo {
    width: 40%;
  }
  .main-content{
    flex-direction: column;
    margin-top: 3%;
  }
  .preview {
    width: 98%;
  }

  /* the menu and cancel icon to be us ein js  */
  .bi-x-square, 
  .bi-list {
    display: block;
    color: #354e2a;
    font-size: 40px;
  }
}


/*******************************
This style is for the features section  
**********************************/
#features {
  width: 95%;
  margin: auto;
  padding-top: 5%;
  text-align: center;
}

.title {
  font-size: 50px;
  color: var(--primary-color);
  text-transform: capitalize;
  padding-bottom: 5%;
}

.features-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 10%;
}

.feature-content {
  width: 20%;
  height: 60vh;
  background: transparent;
  box-shadow: 10px 10px 8px 5px #fafaff;
  border-radius: 5px;
}

.feature-content:hover .icon {
  background:#0a5f0a;
  color: #fff;
}

.icon {
  width: 130px;
  height: 130px;
  background: transparent;
  border-radius: 50%;
  border: 3px dotted #354e2a;
  margin: 7% auto;
  display: flex;
  align-items: center;
  justify-content: center;  
  transition: .5s ease-in;
}

.bi-credit-card-2-front-fill,
.bi-laptop,
.bi-link-45deg,
.bi-chat-dots
 {
  font-size: 45px;
  color: #416332;
}

.icon-title h2{
  font-size: 30px;
  padding-top: 20px;
}

.icon-details {
  padding-top: 40px;  
}

.icon-details p {
  font-size: 25px;
  opacity: .9;
}

@media(max-width:750px) {
  .features-container {
    flex-direction: column;
    margin-bottom: 10%;
  }
  .feature-content {
    width: 98%;
  }
}
/* ******************************
======== the style below is for the how it community section =====   
*******************************/

#community {
  width: 90%;
  margin: auto;
  padding-top: 10%;
  text-align: center;
}

.community-title {
  font-size: 50px;
  text-transform: capitalize;padding-bottom: 2%;
}

.community-container {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  justify-content: center;
  margin-bottom: 5%;
}

.box-wripper {
  width: 23%;
  height: 65vh;
  background: transparent;
}

 .wripper-two {
  width: 60%;
}

/* wripper one .community member  */
.community-number {
  width: 100%;
  height: 20vh;
  background: transparent;
  margin: 5px 0px;
  text-align: start;
}

.number {
  font-size: 60px;
  margin-left: 30px;
  margin-top: 25px;
  padding-bottom: 2%; 
  color: #416332;
}

.aim {
  margin-left: 30px;
  font-size: 25px;
  font-weight: 600;
}


@media(max-width:750px) {
  .community-container {
    flex-direction: column;
  }
  .box-wripper {
    width: 98%;
  }
}

/* ******************************
======== the style below is for the how it work section =====   
*******************************/
#how-it-work {
  width: 90%;
  margin: auto;
  padding-top: 8%;
  text-align: center;
}

.title1 {
  font-size: 50px;
  color: var(--primary-color);
  text-transform: capitalize;
  padding-bottom: 1.3%;
}

.sub-title {
  font-size:22px;
  padding-bottom: 3%;
  opacity: .8;
}
.howItWork-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  
}

.box-content {
  width: 48%;
  height: 95vh;
  background: transparent;
  margin: 30px 0;
  position: relative;
  /* box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.69); */
  border-radius: 5px;
}

.box-img {
  width: 70%;
  height: 45vh;
  background: transparent;
  margin: 50px auto;
}

.box-title h2 {
  font-size: 35px;
}

.box-details {
  padding-top: 20px;
  font-size: 24px;
  opacity: .8;
}

.btn1 {
  margin-top: 5%;
  padding: 15px 50px;
  font-size: 25px;
  background: #084ae4;
  color: var(--secondary-color);
  border: 3px solid transparent;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  transition: .5s ease-in;
}

.btn1:hover {
  background: #083bb1;
}

.one {
  width: 90px;
  height: 90px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 50%;
  border: 3px solid #0a5f0a;
  position: absolute;
  top: -45px;
  right: 38%;
}

@media(max-width: 750px) {
  .howItWork-container {
    margin-top: 20%;
    flex-direction: column;
  }
  .box-content {
    width: 98%;
  }
  .box-2 {
    margin-top: 33%;
  }
}

/******************************
== the style below os for the join Us section  =========
**********************************/
#join-us {
  width: 90%;
  margin: auto;
  padding-top: 8%;
  text-align: center;
}

.join-us-title {
  font-size: 50px;
  /* text-transform: capitalize; */
  padding-bottom: 1.3%;
}

.join-us-detail {
  font-size: 21px;
  line-height: 1.5;
}

.video {
  width: 70%;
  height: 60vh;
  background: transparent;
  border-radius: 10px;
  overflow: hidden;
  margin: 3% auto;
}

.video-main {
  width: 100%;
  height: 100%;
}

@media(max-width: 750px) {
  .join-us-detail {
    padding-bottom: 1%;
  }
  .video {
    width: 98%;
    height: 50vh;
  }
}
/******************************** 
== This style is for the customer section ===
 ******************************/

 #customer {
  width: 90%;
  margin: auto;
  padding-top: 8%;
  text-align: center;
  margin-bottom: 6%;
 }

 .customer-title {
  font-size: 50px;
  text-transform: capitalize;
  padding-bottom: 1.3%;
 }

 .customer-subtitle {
  font-size: 22px;
  opacity: .8;
  padding-bottom: 5%;
 }

 .customer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
 }

.customer-box {
  width: 45%;
  height: 65vh;
  background: transparent;
  margin-bottom: 2%;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px #000;
}

.full-left {
  margin-left: 5%;
  text-align: start;
}

.customer-img {
  width: 100px;
  height: 100px;
  border: 3px solid transparent;
  border-radius: 50%;
  background: transparent;
  margin-top: 5%;
  overflow: hidden;
}

.testimonial {
  margin-top: 2%;
  /* text-align: start;  */
  padding: 0px 10px;
}

.testimonial p {
  font-size: 20px;
  opacity: .8;
}

.customer-name{
  padding-top: 6%;
}

.customer-name p {
  font-size: 25px;
  font-weight: 600;
}

.customer-position {
  padding-top: 1.4%;
}

.customer-position p {
  font-size: 18px;
  opacity: .8;
}

.rating {
  padding-top: 3%;
}

.bi-star-fill {
  color: orange;
}

.slide {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.slide-circle {
  width: 30px;
  height: 30px;
  background: #0a5f0a;
  border-radius: 50%;
  margin-bottom: 5%;
}

@media(max-width:750px) {
  .customer-container {
    flex-direction: column;
  }
  .customer-box {
    width: 98%;
  }
}

/******************************** 
== This style is for the Ask more section ===
 ******************************/
#ask-more {
  height: 60vh;
  background: #fafaff;
  margin: auto;
  text-align: center;
  margin-bottom: 10%;
   display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ask-title {
  font-size: 30px;
  padding-bottom: 3%;
}

.ask-main {
  font-size: 55px;
  font-weight: 600;
  padding-bottom: 4%;
}

.ask-btn {
  padding: 18px 40px;
  background: #354e2a;
  color: #fff;
  border: 3px solid transparent;
  border-radius: 10px;
  font-size: 25px;
  cursor: pointer;
  transition: .5s ease-in;
}

.ask-btn:hover {
  background: transparent;
  color: #354e2a;
  border: 2px solid #354e2a;
}

@media(max-width:750px) {
  #ask-more {
    width: 100%;
  }
  .ask-title {
    font-size: 23px;
  }
  .ask-main {
    font-size: 30px;
  }
}


/******************************** 
== This style is for the Blog section ===
 ******************************/

 #blog {
  width: 90%;
  margin: auto;
  padding-bottom: 5%;
  text-align: center;
 }

 .blog-title {
  font-size: 50px;
  text-transform: capitalize;
  font-weight: 600;
  padding-bottom: 1.5%;
 }

 .blog-subtitle {
  font-size: 24px;
  padding-bottom: 4%;
 }

 .blog-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
 }

.blog-content {
  width: 30%;
  height: 80vh;
  background: #fff;
  border-radius: 5px;
  text-align: start;
  box-shadow: 10px 10px 8px 5px #fafaff;
}

.content-head {
  width: 100%;
  height: 35vh;
  background: transparent;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 3%;
}

.space-left {
  padding-left: 20px;
}

.content-date {
  font-size: 19px;
  opacity: .8;
  padding-bottom: 3%;
}

.content-title {
  font-size:28px;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 4%;
}

.content-details {
  font-size: 24px;
  padding-bottom: 3%;
}

.read-more {
  font-size: 22px;
  opacity: .8;
}

@media(max-width:750px) {
  .blog-container {
    flex-direction: column;
    margin-bottom: 20%;
  }
  .blog-content {
    width: 98%;
    height: 90vh;
  }
  .two {
    margin-top: 20%;
}
}

/*******************************
   This style is for the partners section  
**********************************/

#partners {
  height: 60vh;
  background: #fafaff;
  margin: auto;
  text-align: center;
  /* margin-bottom: 10%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.partners-title {
   font-size: 55px;
  font-weight: 600;
  padding-bottom: 1.2%;
}


.partners-sub {
  font-size: 30px;
  padding-bottom: 3%;
  opacity: .8;
}

.partners-imgs {
  display: flex;
  justify-content: center;
  gap: 30px;
  /* background: red;  */
  width: 50%;
}

.partners-img {
  width: 30%;
  height: 15vh;
  background: transparent;
  border: 2px solid #000;
  border-radius: 10px;
  overflow: hidden;
}

@media(max-width:750px) {
  .partners-imgs{
    flex-direction: column;
  }
  .partners-img {
    width: 98%;
  }
}


/*******************************
   This style is for the partners section  
**********************************/

#footer  {
  height: 60vh;
  background: linear-gradient(to top, black, rgb(124, 118, 118));
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}

.footer-content {
  width: 25%;
  height:35vh;
  background: transparent;
}

.footer-contentTwo {
  width: 44%;
}

/********************************
 ========== content one ======  
*********************************/

.footerOne-content {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
   margin-left: 50px;
}

.footerOne-content a {
  color: #fff;
  font-size: 23px;
  padding-bottom: 2%;
  text-decoration: none;
}

.footerOne-content p:hover {
  color: #354e2a;
}

.footerOne-tltle {
  font-size: 40px;
  color: #fff;
  margin-left: 50px;
  padding-bottom: 3%;
  padding-top: 8%;
}

.footerOne-tltle::after {
  content: '';
  width: 20%;
  height: 3px;
  display: block;
  background-color: #0a5f0a;
}


/********************************
 ========= content Two =========
 ********************************/

 .footerTwo-title {
  width: 35%;
  height: 12vh;
  background: transparent;
  margin: 10px auto;
  margin-bottom: 4%;
 }

 .footerTwo-details {
  text-align: center;
 }

 .footerTwo-details p {
  color: #fff;
  font-size: 25px;
 }

 /********************************
 ========= content Three =========
 ********************************/

.footerThree-title {
  font-size: 40px;
  color: #fff;
  margin-left: 50px;
  padding-bottom: 3%;
  padding-top: 8%;
}

.footerThree-title::after {
  content: '';
  width: 20%;
  height: 3px;
  display: block;
  background: #0a5f0a;
}

.footerThree-details {
  margin-left: 50px;
  font-size: 22px;
  padding-top: 4%;
  padding-bottom: 6%;
  color: #fff;
}

.bi-geo-alt-fill {
  color: #0a5f0a;
  padding-right: 2%;
}

.footerThree-links {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-left: 50px;
}

.links {
  width: 60px;
  height: 60px;
  background: transparent;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bi-youtube,
.bi-instagram,
.bi-twitter,
.bi-facebook {
  color: #fff;
  cursor: pointer;
}

.copyright {
  width: 1600px;
  margin: 5px auto;
  text-align: center;
}

hr {
  opacity: .4;
}

.copyright p {
  font-size: 19px;
  color: #fff;
  padding-top: 2%;
}

.copyright .developer {
  font-size: 22px;
  padding-top: 1%;
}

@media(max-width:750px) {
  #footer {
    height: fit-content;
  }
  .footer-container {
    flex-direction: column;
  }
  .footer-content {
    width: 98%;
  }
}